extends layout

block content
  div(class='row')
    div(class='col s12 m12 l12') 
      H3 About Polytechnic Hotel
      text We plan to totally STEM-ulate you with educationally loaded puns to try and look super cool and smart.

  div(class='row')
    div(class='col s12 m12 l12') 
      H3 Mission Statement
      text Florida Polytechnic University’s mission is to educate students emphasizing Science, Technology, Engineering, and Mathematics (STEM) in an innovative, technology-rich, and interdisciplinary learning environment. The University collaborates with industry partners to offer students real-world problem-solving, work experience, applied research and business leadership opportunities. Florida Polytechnic prepares students to assume available leadership positions in the dynamic technological landscape in Florida, the nation, and the world.