extends layout

block content
  div(class="row")

    div(class="col s6 m6 l6")
      div(class="card")
        div(class="card-content")
          span(class="card-title" style="text-align:center") User Information
            
            div(class='row')
              div(class="col s2 m2 l2")
              div(class="input-field col s8 m8 l8")
                  input(placeholder="First Name", id="name", type="text")

            div(class='row')
              div(class="col s2 m2 l2")
              div(class="input-field col s8 m8 l8")
                  input(placeholder="Last Name", id="last", type="text")

            div(class='row')
              div(class="col s2 m2 l2")
              div(class="datepicker col s8 m8 l8")
                  input(placeholder="Date of Birth", id="dob", type="text")

            div(class='row')
              div(class="col s2 m2 l2")
              div(class="input-field col s8 m8 l8")
                  input(placeholder="Email", id="email", type="text")
            
            div(class='row')
              div(class="col s2 m2 l2")
              div(class="input-field col s8 m8 l8")
                  input(placeholder="Password", id="password", type="password")

            div(class="col s4 m4 l4")
            button(class="btn waves-effect waves-light", id="update") Update
                i(class="material-icons right") arrow_upward
            
            div(class='row')
            div(class='row')
              div(class="col s4 m4 l4")
              div(class="col s4 m4 l4")

    div(class="col s6 m6 l6")
      div(class="card")
        div(class="card-content")
          span(class="card-title" style="text-align:center") Saved Cards
            
            div(class='row')
              div(class="col s2 m2 l2")
              div(class="input-field col s8 m8 l8")
                  input(placeholder="Card Name", id="card", type="text")
            
            div(class='row')
              div(class="col s2 m2 l2")
              div(class="input-field col s8 m8 l8")
                  input(placeholder="Card Number", id="number", type="password")

            div(class='row')
              div(class="col s2 m2 l2")
              div(class="datepicker col s8 m8 l8")
                  input(placeholder="Expiration Date", id="expiration", type="text")

            div(class='row')
              div(class="col s2 m2 l2")
              div(class="input-field col s8 m8 l8")
                  input(placeholder="CSV", id="csv", type="text")

            div(class="col s5 m5 l5")
            button(class="btn waves-effect waves-light", id="sign-in") Add
                i(class="material-icons right") control_point
            
            div(class='row')
            div(class='row')
              div(class="col s4 m4 l4")
              div(class="col s4 m4 l4")

block extras
  script.
    var user = firebase.auth().currentUser;
    var name = user.displayName.split(' ')
    document.getElementById("name").value = name[0];
    document.getElementById("last").value = name[1];

  script.
    //Handle Account Status
    firebase.auth().onAuthStateChanged(user => {
      if(user) {
        var user = firebase.auth().currentUser;
        var name = user.displayName.split(' ');
        var email = user.email;
        document.getElementById("name").value = name[0];
        document.getElementById("last").value = name[1];
        document.getElementById("email").value = email;
      }
    });

  script.
    //Update account information
    document.getElementById("update").addEventListener("click", function() {
      var user = firebase.auth().currentUser;
      var first = document.getElementById("name").value;
      var last = document.getElementById("last").value;
      var name = first + ' ' + last;
      if(user) {
        user.updateProfile({
          displayName: name
        })
        window.location = '/accountInfo';
      }
    })

  script.
    $(document).ready(function(){
      $('.datepicker').datepicker();
    });