extends layout

block content
  -var events = [{event: 'Dining Hours Changed!', date: 'Mon Jun 17, 2019', desc: 'It is posted everywhere!'}, {event: 'Summer A is almost over!', date: 'Tue Jun 18, 2019', desc: 'SOON TM'}, {event: 'THE FINAL COUNTDOWN', date: 'Wed Jun 18, 2019', desc: 'Please be nice on the final Dr. Elish!'}]
  h3= title
    ul
      each event in events
        div(class="card")
          div(class='row')
            div(class='col s6 m6 l6') 
              H5=event.event
            div(class='col s6 m6 l6' style="text-align:right") 
              H6=event.date
          div(class='row')
            div(class='col s12 m12 l12') 
              H6=event.desc
