extends layout

block content
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=750&w=1260"></a>
    <a class="carousel-item" href="#two!"><img src="https://images.pexels.com/photos/1437861/pexels-photo-1437861.jpeg?cs=srgb&dl=adult-bath-towels-bed-1437861.jpg&fm=jpg"></a>
    <a class="carousel-item" href="#three!"><img src="https://images.pexels.com/photos/271624/pexels-photo-271624.jpeg?cs=srgb&dl=apartment-bed-bedroom-271624.jpg&fm=jpg"></a>
    <a class="carousel-item" href="#four!"><img src="https://images.pexels.com/photos/573552/pexels-photo-573552.jpeg?cs=srgb&dl=architecture-carpet-chandeliers-573552.jpg&fm=jpg"></a>
  </div>

  p All images from: 
    a(href='https://www.pexels.com') pexels

block extras
  script.
    $('.carousel.carousel-slider').carousel({
      fullWidth: true
    });