extends layout

block content
  img(class="responsive-img" src="https://industries.ma/wp-content/uploads/2016/10/florida-polytechnic-university.jpg")

  p If you've never had the pleasure of entering the world's largest carcass, then be prepared to be utterly underwhelmed -- it's just concrete painted white...
  